@{ 
    Layout = "~/Views/Shared/_LayoutSinglePage.cshtml";
} 
<!-- BEGIN BANNER SECTION -->
<section class="title-banner">
    <div class="wrap-tb-bg">
        <div class="tb-background">
            <div class="tb-background-bgoverlay"></div>
            <div class="tb-background-img" style="bottom: 0px">
                <img src="~/img/contact.jpg" alt="banner">
            </div>
        </div>
    </div>
    <div class="tb-text">
        <h1>ĐỊA CHỈ LIÊN HỆ</h1>
        <div class="tb-line"></div>
    </div>
</section>
<!-- END BANNER SECTION -->
<!-- BEGIN CONTENT PAGE -->
<section class="inner-page-content contact-page">
    <div class="container">
        <div class="section-one-wrapper">
            <div class="row">
                <div class="col-md-7 section-left">
                    <div class="contact-wrapper-left">
                        <h2>Liên hệ chúng tôi để được hỗ trợ</h2>
                        <p>
                             <br>
                            <br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut nisl ut aliquip ex ea commodo consequat.
                        </p>
                        <ul class="list-ul">
                            <li>
                                <i class="fa fa-home"></i>41 Lê Lợi St , TP Huế
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>(+62)-274-123456 &nbsp; | &nbsp; (+62)-274-654321
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>support@ramestherice.com
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="contact-wrapper-right">
                        <form class="contact-form">
                            <div class="form-group">
                                <input class="form-control" required="" id="name" placeholder="Họ tên" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="email" placeholder="Email" name="email" required="" type="email">
                            </div>
                            <div class="form-group">
                                <input class="form-control" required="" id="subject" placeholder="Chủ đề" type="text">
                            </div>
                            <div class="form-group" style="position: relative;">
                                <textarea class="form-control" required="" id="message" placeholder="Nội dung" rows="3" spellcheck="true" style="background: rgb(238, 241, 245) none repeat scroll 0% 0%; z-index: auto; position: relative; line-height: 22.85px; font-size: 16px; transition: none 0s ease 0s ;"></textarea>
                            </div>
                            <div class="form-group text-center">
                                <input class="rounded-button fadetransition" value="Gửi" type="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CONTENT PAGE -->
<!-- BEGIN SECTION MAP -->
<section class="contact-map">
    <div class="homepage-map">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1913.0658123247076!2d107.5921794!3d16.4688715!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141a13cb3f9bcfb%3A0x99aae25688f6df9c!2sConference+center+Full+House+wedding+party!5e0!3m2!1sen!2s!4v1517220164647" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION MAP -->